<ion-searchbar placeholder="Search a product"></ion-searchbar>
<ion-content padding>
  <ion-card *ngFor="let product of products">
    <ion-item>
      <ion-col>
        <img src={{product.image}} />
        <p class="description">{{product.description}}</p>
      </ion-col>
      <ion-col>
        <h2>{{product.name}}</h2>
      </ion-col>
    </ion-item>

    <ion-row>
      <ion-col>
        <button icon-left clear small>
          <div>{{product.quantity}} achetés</div>
        </button>
      </ion-col>
      <ion-col>
        <button icon-right clear small>
          <div>{{product.remainingTime}}</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
