<ion-menu side="start" menuId="categories">
    <ion-header>
        <ion-toolbar color="tertiary">
            <ion-title>Categories</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item ion-activatable button *ngFor="let category of categories"
                      (click)="onCategoryClick($event, category.id)">
                <ion-ripple-effect></ion-ripple-effect>
                {{ category.name }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-router-outlet main>
    <ion-searchbar placeholder="Search a product"></ion-searchbar>
    <ion-content padding #content>
        <ng-container *ngFor="let product of products" class="product-list">
            <ion-card *ngIf="category == null || product.category == category">
                <ion-item>
                    <ion-col>
                        <img src={{product.image}}/>
                        <p class="description">{{product.description}}</p>
                    </ion-col>
                    <ion-col>
                        <h2>{{product.name}}</h2>
                        <div clear small>{{product.remainingTime}}</div>
                        <div clear small>{{product.quantity}} achetés</div>
                    </ion-col>
                </ion-item>
            </ion-card>
        </ng-container>
        <ion-infinite-scroll threshold="0px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>

</ion-router-outlet>