<ion-tabs>

    <!-- tab bar for navigation -->
    <ion-tab-bar slot="top">
        <ion-tab-button tab="new">
            <ion-label>New</ion-label>
            <ion-icon name="cart"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="send">
            <ion-label>Sent</ion-label>
            <ion-icon name="cube"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>

<!--
  <div *ngFor="let orderItem from orderItems">
    <ion-card>
      <ion-card-header>
        <ion-title></ion-title>
      </ion-card-header>
    </ion-card>
  </div>
  -->
