<ion-content text-center class="vertical-align-content">
    <ion-img src="assets/img/groupir_icon.png"></ion-img>
    <form>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button type="submit">Connexion</ion-button>
    </form>
    <div id="usefullLink">
        <p><a [routerLink]="['/forgot-page']">Forgot password ?</a></p>
        <p><a [routerLink]="['/sign-up']">Sign Up</a></p>
    </div>
</ion-content>


