<p>
  adress-list works!
</p>
<!--
<ion-header>
  <ion-toolbar>
    <span>Posts disponibles</span>
      <ion-button text="Offline mode" slot="end" (click)="goOnCachedMode()">Cached mode</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section>
    <ion-card *ngFor="let article of articles">
      <ion-card-header>
        <ion-card-title (click)="onClickArticle(article)">{{article.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{article.body}}</p><br/>
        <p>Cached : {{article.cached}}</p>
      </ion-card-content>
      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button (click)="toggleCache(article)" size="small">
          <ion-icon *ngIf="!article.cached" name="save"></ion-icon>
          <ion-icon *ngIf="article.cached" name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card>
  </section>
</ion-content>
-->
