<p>
  purchase-history works!
</p>

<!--
<ion-content>
  <section>
    <ion-card *ngFor="let product of products">
      <ion-card-header>
        <ion-card-title>{{product.dateOrder}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Address : {{product.address}}</p><br/>
        <p>Country : {{address.country}}</p>
      </ion-card-content>
      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button size="small">
          <ion-icon (click)="modifyAddress(address)" name="modify"></ion-icon>
          <ion-icon (click)="deleteAddress(address)" name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card>
  </section>
</ion-content>
-->