ion-content {
}

ion-img {
  max-width: 200px;
  margin: 30% auto auto;
  display: block;
}

form{
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.submitBut{
  margin: auto;
  display: block;
}

